<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogar</servlet-name>
        <servlet-class>br.com.projeto.servlets.controller.ServletLogar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogar2</servlet-name>
        <servlet-class>br.com.projeto.servlets.controller.ServletLogar2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sair</servlet-name>
        <servlet-class>br.com.projeto.servlets.controller.Sair</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logar</servlet-name>
        <servlet-class>br.com.projeto.servlets.controller.Logar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaUsuarios</servlet-name>
        <servlet-class>br.com.projeto.servlets.controller.ListaUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirUsuarios</servlet-name>
        <servlet-class>br.com.projeto.servlets.controller.ExcluirUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraUsuario</servlet-name>
        <servlet-class>br.com.projeto.servlets.controller.AlteraUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoUsuario</servlet-name>
        <servlet-class>br.com.projeto.servlets.controller.NovoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaUsuariosPaginada</servlet-name>
        <servlet-class>br.com.projeto.servlets.controller.ListaUsuariosPaginada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaUsuariosPaginada1</servlet-name>
        <servlet-class>br.com.projeto.servlets.controller.ListaUsuariosPaginada1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>br.com.projeto.servlets.controller.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bairro</servlet-name>
        <servlet-class>br.com.projeto.servlets.controller.Bairro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogar</servlet-name>
        <url-pattern>/ServletLogar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletLogar1</servlet-name>
        <servlet-class>br.com.projeto.servlets.controller.ServletLogar1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogar1</servlet-name>
        <url-pattern>/ServletLogar1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogar2</servlet-name>
        <url-pattern>/ServletLogar2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sair</servlet-name>
        <url-pattern>/Sair</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logar</servlet-name>
        <url-pattern>/Logar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaUsuarios</servlet-name>
        <url-pattern>/ListaUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirUsuarios</servlet-name>
        <url-pattern>/ExcluirUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraUsuario</servlet-name>
        <url-pattern>/AlteraUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoUsuario</servlet-name>
        <url-pattern>/NovoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaUsuariosPaginada</servlet-name>
        <url-pattern>/ListaUsuariosPaginada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaUsuariosPaginada1</servlet-name>
        <url-pattern>/ListaUsuariosPaginada1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bairro</servlet-name>
        <url-pattern>/Bairro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--<error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/erro.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/erro.jsp</location>
    </error-page>-->
</web-app>
